*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.tablero {
    display:flex;
    justify-content: center;
    box-shadow: 0 0.15em 0.25em black;
    padding: 1.5em;
    max-width: 21em;
    margin: 0 auto;
    
}
