

.ficha {
    width: 3.125em;
    height: 3.125em;
    border-radius: 50%;
    margin-right: 0.625em;
  }

  .roja {
    background-color: red;
  }

  .azul {
    background-color: blue;
  }

  .verde {
    background-color: green;
  }

  .amarilla {
    background-color: yellow;
  }

  .roja, .azul, .verde, .amarilla{
    margin: 0.6em;
    box-shadow: 0 0.19em 0.5em rgba(0, 0, 0, 0.3);
  }

  .tablero {
    background-color: darkcyan;
    border-radius: 0.625em;
    padding: 1.25em;
    max-height: 100%;
    max-width: 37.5em;
    
  }

  .tablero2 {
    background-color: darkcyan;
    border-radius: 0.625em;
    padding: 1.25em;
    max-height: 100%;
    max-width: 37.5em;
  }


  .check-circle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1.44em solid #000;
    background-color: white;
    margin: 0.15em;
  }

  @media (max-width: 36em) {
    .ficha {
      width: 2.5em;
      height: 2.5em;
    }
  }

  





  .general {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(/img/posibleFondo.jpeg);
  background-repeat: no-repeat;
  background-size: cover
}

.logo img {
  width: 18.75em;
  height: 18.75em;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}


.button {
  margin-top: 1.25em;
}

.button a {
  display: inline-block;
  padding: 0.625em 1.25em;
  background-color: #ff0000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5%;
}

@media (max-width: 48em) {
  .logo img {
      width: 9.38em;
      height: 9.38em;
  }

  .button a {
      padding: 0.5em 1em;
  }
}




.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(/img/fondoJugadores2.jpeg);
  background-size: cover;
}

.eleccion {
  text-align: center;
}

.acerca {
  max-width: 23em;
  margin: 0 auto;
  padding: 1.25em;
}

.about {
  text-align: center;
}







