*{
  user-select:none;
}



  .ficha1, .ficha2, .ficha3, .ficha4{
    margin: 0.6em;
    box-shadow: 0.0.3em 0.16em ;
    border: black 0.16em solid;
    background-color: grey;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin-right: 0.625em;
  }

  .tablero {
    background-image: url(/img/tablero2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.16em;
    padding: 1.25em;
    max-height: 100%;
    max-width: 37.5em;
  }

  .check-circle1, .check-circle2, .check-circle3, .check-circle4 {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.16em solid #000;
    background-color: white;
    margin: 0.15em;
  }

  .btn-custom {
    background-color: #ff9900;
    color: #ffffff; 
    border: none; 
    border-radius: 4px;
    padding: 6px 12px;
  }
  
  .btn-custom:hover {
    background-color: #e68a00;
  }
  

  @media (max-width: 36em) {
    .ficha {
      width: 4em;
      height: 2em;
    }
  }

  





  .page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/img/fondoGeneral.jpeg);
    background-size: cover;
  }

  .logo {
    max-width: 50em;
    max-height: 50em;
    transition: transform 0.2s;
    margin-top: 5em;
  }

  .logo:hover {
    transform: scale(1.1);
  }

  .title {
    font-size: 48px;
    font-weight: bold;
    margin-top: -3em;
    color: white;
  }

  .button {
    margin-top: 1em;
  }

  .selectorTablero{
    border-radius: 30%;
  }

  @media (max-width: 350px) {
    .logo {
      max-width: 8em;
      max-height: 8em;
    }
  }










.jugador{
  background-image: url(/img/fondoGeneral2.jpeg);
  background-size: cover;
  height: 100vh;
}

.logo {
  width: 10em;
  height: 10em;
  margin-bottom: 1.5em;
  transition: 1.5s;
  border-radius: 50%;
}
.logo:hover{
  transform: scale(1.1);
}
.titulo {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}
.grupo-formulario {
  max-width: 18em;
  margin: 0 auto;
  margin-bottom: 1em;
}

@media (max-width: 36em) {
  .titulo {
    font-size: 1.2em;
  }
  .grupo-formulario {
    max-width: 100%;
    padding: 0 1em;
  }
  .boton-personalizado {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
}





.background {
  background-image: url(/img/fondoGeneral2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.about {
  padding: 1rem;
  color: #fff;
}
.gif-container {
  text-align: center;
  margin-top: 1.5rem;
}
.gif {
  max-width: 100%;
  height: auto;
}







.niveles {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/fondoGeneral2.jpeg);
  background-size: cover;
}

.text-center {
  text-align: center;
}

.dificultad-botones {
  margin-top: 1.25em;

}









.resultado {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.25em;
  background-image: url(/img/fondoVictoria.jpeg);
  background-size: cover;
}


.combinacion-ganadora {
  display: flex;
  justify-content: center;
  gap: 0.625em;
  margin-bottom: 1.25em;
}

.bola-ganadora {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: solid 0.16em black;
  background-color: #ccc;
}


.resultado-perdedor {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.25em;
  background-image: url(/img/fondoPerdedor.jpeg);
  background-size: cover;
}


.combinacion-perdedora {
  display: flex;
  justify-content: center;
  gap: 0.625em;
  margin-bottom: 1.25em;
}

.bola-perdedora {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: solid 0.16em black;
  background-color: #ccc;
}







.seleccionColor {
  background-image: url(/img/fondoGeneral2.jpeg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.color-selector {
  margin-bottom: 20px;
}

.colorOption, .colorOption, .colorOption, .colorOption {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: inline-block;
  background-color: #ccc;
  border-radius: 50%;
}

.color-input {
  width: 200px;
  margin-bottom: 20px;
}